$primary-colors: (
	emerald-dust: #4bfea0,
	sky-blue: #084d8c,
	dark-gray: #403e41,
	orchid-orange: #f97e51,
	pumpkin-orange: #f86634
);

$secondary-colors: (
	emerald-dust: (#57feb3, #86fec6, #b0fed8, #d8ffeb),
	sky-blue: (#3670a3, #6894b9, #9ab7d1, #ccdbe7),
	dark-gray: (#656366, #8b898b, #afafb0, #d5d5d5),
	orchid-orange: (#fa9871, #fbb294, #fccbb7, #fde5db),
	pumpkin-orange: (#f98559, #faa380, #fbc2aa, #fde0d4)
);